.cover {
	background-image: url("images/Cover_Photo.jpg");
	background-position: 0% 20%;
	background-size: cover;
	height: 400px;
}

@media screen and (max-width: 800px) {
	.cover {
		height: 200px;
	}
	div.projects{
		flex-wrap: wrap;
	}
	div.row{
		flex-wrap: wrap;
		justify-content: center;
	}
/*	div.brand-container{
		display: flex;
		justify-content: center;
	}*/
/*	div.red{
		width: 200px;
	}*/
	p.brand{
		width: 300px;
	}
	div.project-text{
		top-margin: -100px;
		height: 200px;
		width: 400px;
		display: flex;
		justify-content: space-around;
	}
	iframe.projects-video{
		height: 400px;
	}
}

body{
	background-color: rgb(152, 243, 170);
	font-family: 'Open Sans', sans-serif;
}

h1{
	text-align: center;
}

.profile {
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

.profile-div{
	text-align: center;
	margin-top: -100px;
}

div.brand-container{
	display: flex;
	justify-content: center;
}

.brand{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 600px;
}



.resume{
	text-align: center;
}

.projects-header{
	text-align: center;
}

div.projects{

}


.project-text{
	height: 400px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.projects-video{
	height: 400px;
	width: 600px;
}

.row{
	height: 7	00px;
	display: flex;
	justify-content: space-around;
}

.blue{
	height: 200px;
	width: 200px;
	background-color: blue;
}

.red{
	height: 200px;
	width: 200px;
	background-color: red;
}
.green{
	height: 200px;
	width: 200px;
	background-color: green;
}

/*.green{
	background-color: green;
	height: 200px;
	width: 200px;

}*/